header { 
  font-family: 'Permanent Marker';
  font-size: 22px;
  text-align: center;
  color: #db8e00; 
  background-image: url("http://clipart-library.com/img/1179659.gif"); 
  background-repeat: repeat-x;
  background-size: 40px;
  background-position-y: bottom;
}

#filter { 
  color: #db8e00; 
  font-family: 'Permanent Marker';
  font-size: 18px;
}

#beer-type-dropdown { 
  cursor:pointer;
  font-family: 'Permanent Marker';
  font-size: 12px;
}

#new_brewery, h2 { 
  color:#99cff0; 
  font-family: 'Permanent Marker';
  font-size: 22px;
}

label { 
  font-family: 'Permanent Marker';
}

.collapsible { 
  color: #444; 
  cursor: pointer; 
  padding: 18px; 
  width: 100%; 
  border: none; 
  text-align: left; 
  outline: none; 
}

.collapsible:hover {
  background-color: #ccc;
}

#form { 
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.likeBtn {
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
}

.column {
  float: right;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row { 
  background-image: linear-gradient(to bottom right, #ffaa00, #ff0059);
}