header { 
  font-family: 'Permanent Marker';
  font-size: 25px;
  text-align: center;
  color: #db8e00; 
  background-image: url("http://clipart-library.com/img/1179659.gif"); 
  background-repeat: repeat-x;
  background-size: 45px;
  background-position-y: bottom;
}

#description { 
  font-family: 'Permanent Marker';
  color: #825501; 
  text-align: center;
}

#filter { 
  color: #db8e00; 
  font-family: 'Permanent Marker';
  font-size: 18px;
}

#beer-type-dropdown { 
  cursor:pointer;
  font-family: 'Permanent Marker';
  font-size: 13px;
  color: #db8e00;
}

#new_brewery, h2 { 
  color:#db8e00; 
  font-family: 'Neucha';
  font-size: 22px;
}

label, .input{ 
  font-family: 'Neucha';
}

h4 { 
  font-family: 'Neucha';
  font-weight:bolder;
}

p, a { 
  font-family: 'Neucha';
  font-weight:100;
  font-size:14px;
}

#submitBtn { 
  font-family: 'Neucha';
  font-size: 18px;
  text-align: center;
}

.collapsible { 
  background-color: #ffecd2; 
  cursor: pointer; 
  padding: 18px; 
  width: 100%; 
  border: none; 
  text-align: left; 
  outline: none; 
}

.collapsible:hover {
  background-color: #ffc16b;
}

#form { 
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ffecd2;
}

.likeBtn {
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-left: 5px;
}

.column {
  float: right;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row { 
  background-image: linear-gradient(to bottom right, white, #ffecd2);
}